<ion-view view-title="{{ 'notifications.notifications' | translate }}" ng-cloak cache-view="false">
    <ion-content ng-cloak>

        <ion-refresher pulling-text="{{ 'pull_to_refresh' | translate }}"
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="centering">
            <div ng-show="status === 3 && user">
                <ion-spinner></ion-spinner>
            </div>
        </div>

        <div class="error-message" ng-show="!user">
            <p>{{ 'not_logged_in' | translate }}</p>
            <button class="button button-clear button-positive" ng-click="goToLogin()">
                {{ 'login.doLogin' | translate }}
            </button>
        </div>

        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>
        <div class="error-message" ng-show="status === 1">
            <p>{{ 'notifications.no_data' | translate }}</p>
        </div>

        <ion-list>
            <ion-item ng-repeat="item in items track by $index" item="item" class="item-remove-animate item-text-wrap"
                      ng-click="goTo($index)">               
                <span ng-show="item.type === 'new_rating'">
                    <a href="#">{{ 'notifications.new_rating' | translate }}!</a>
                </span>
                <span ng-show="item.type === 'item_added_into_cart'">
                    {{ 'notifications.your_item' | translate }} <a href="#">{{ item.parametry.instance }}</a> {{ 'notifications.was_added_into_cart' | translate }}.
                </span>
                <span ng-show="item.type === 'item_hidden'">
                    {{ 'notifications.your_item' | translate }} <a href="#">{{ item.parametry.name }}</a> {{ 'notifications.was_hidden' | translate }}.
                </span>
                <span ng-show="item.type === 'item_approved'">
                    {{ 'notifications.your_item' | translate }} <a href="#">{{ item.parametry.name }}</a> {{ 'notifications.was_approved' | translate }}.
                </span>
                <span ng-show="item.type === 'item_deleted'">
                    {{ 'notifications.your_item' | translate }} <a href="#">{{ item.parametry.name }}</a> {{ 'notifications.was_deleted' | translate }}.
                </span>
                <p class="notifications-date">
                    {{item.myDate}}
                </p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>