<ion-view view-title="">
    <ion-nav-title>
        {{profile.jmeno}} {{profile.prijmeni}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon icon ion-ios-email-outline" ng-click="openMessageModal($event, profile)"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" 
                ng-if="forceBackButton" 
                ng-click="backToParentView()" >
            <i ng-class="{
                'ion-ios-arrow-back force-back-ios': platform !== 'android',
                'ion-android-arrow-back force-back-android ': platform === 'android' }"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <script id="message.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">{{ 'profile.message_for_user' | translate }} {{profile.jmeno}}</h1>
                    <div class="button button-clear button-positive" ng-click="messageModal.hide()">{{ 'close' | translate }}</div>
                </ion-header-bar>
                <ion-content class="padding">
                    <form>

                    </form>
                </ion-content>
            </ion-modal-view>
        </script>

        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="centering">
            <div ng-show="status === 3">
                <ion-spinner></ion-spinner>
            </div>
        </div>

        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>

        <div class="user-info" ng-show="status === 0">
            <img ng-src="http://www.gravatar.com/avatar/{{profile.gravatar}}s=20" class="profile-gravatar profile-data" />
            <div class="profile-data">
                {{profile.jmeno}} {{profile.prijmeni}}
            </div>
            <div class="profile-data">
                {{profile.email}}
            </div>

            <script id="reviews.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar>
                        <h1 class="title">{{ 'profile.reviews' | translate }}</h1>
                        <div class="button button-clear button-positive" ng-click="reviewsModal.hide()">{{ 'close' | translate }}</div>
                    </ion-header-bar>
                    <ion-content>
                        <ion-list>
                            <ion-item ng-repeat="review in reviews">
                                <div>{{review.jmeno}}</div>
                                <stars-rating rating="{{review.skore}}"></stars-rating>
                                <div>{{review.komentar}}</div>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-modal-view>
            </script>

            <button class="button button-outline button-positive button-small" 
                    ng-click="openReviewsModal($event, profile.reviews)"
                    ng-show="profile.reviews.length > 0">
                {{ 'profile.show_reviews' | translate }}
            </button>

            <stars-rating rating="{{profile.prumerne_hodnoceni}}"></stars-rating>

        </div>

        <p ng-show="userItemsSum !== 0" class="padding">{{ 'profile.user_items' | translate }} <b>{{userItemsSum}}</b></p>

        <div ng-repeat="item in profile.instances">
            <wos-item name="item"></wos-item>
        </div>

    </ion-content>
</ion-view>