<ion-view view-title="{{ 'addItem.addItem' | translate }}" cache-view="false">
    <ion-nav-buttons side="primary">
        <button class="button back-button buttons button-clear header-item icon ion-ios-arrow-back" ng-if="forceBackButton" ng-click="backToParentView()"></button>
    </ion-nav-buttons>
    <ion-content>

        <div ng-class="{'take-photo': imgURI === undefined}" ng-click="takePhoto()">
            <div ng-show="imgURI === undefined" class="photo-not-taken">
                <div class="new-photo">
                    <i class="ion-camera photo-icon"></i>
                    <div>{{ 'addItem.new_photo' | translate }}</div>
                </div>
            </div>
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="item-photo"/>
        </div>
        <form name="forms.addItemForm">
            <div class="padding">
                <div class="legend">
                    <h4>{{ 'addItem.name_and_prices' | translate }}</h4>
                </div>
                <div class="addItem-input">
                    <label class="item item-input item-stacked-label no-error"
                           ng-class="{ 'has-error' : addItemForm.name.$invalid && addItemForm.name.$touched,
                                       'no-error' : addItemForm.name.$valid || addItemForm.name.$untouched }">
                        <span class="input-label">{{ 'addItem.name' | translate }}</span>
                        <input type="text" name="name" ng-model="item.name" placeholder="{{ 'addItem.name' | translate }}" required>
                    </label>
                    <div class="error-msg" ng-show="addItemForm.name.$invalid && addItemForm.name.$touched">
                        {{ 'addItem.name' | translate }} {{ 'form.is_required3' | translate }}!
                    </div>
                </div>
                <div>
                    <table class="prices-table">
                        <tr ng-repeat="p in prices">
                            <td ng-show="p.period === 1">{{ 'hour' | translate }}</td>
                            <td ng-show="p.period === 2">{{ 'day' | translate }}</td>
                            <td ng-show="p.period === 3">{{ 'month' | translate }}</td>
                            <td ng-show="p.period === 4">{{ 'month' | translate }}</td>
                            <td>{{p.price}} Kč</td>
                        </tr>
                    </table>
                </div>
                <div class="row nopadding">
                    <div class="addItem-input col col-70">
                        <label class="item item-input item-stacked-label no-error"
                               ng-class="{ 'has-error' : addItemForm.price.$invalid && addItemForm.price.$touched,
                               'no-error' : addItemForm.price.$valid || addItemForm.price.$untouched }">
                            <span class="input-label">{{ 'addItem.price' | translate }}</span>
                            <input type="number" name="price" ng-model="item.price" placeholder="{{ 'addItem.price' | translate }}" min="0" required>
                        </label>
                        <div class="error-msg" ng-show="addItemForm.price.$invalid && addItemForm.price.$touched && !addItemForm.price.$error.min">
                            {{ 'addItem.price' | translate }} {{ 'form.is_reguired4' | translate }}!
                        </div>
                        <div class="error-msg" ng-show="addItemForm.price.$error.min">
                            {{ 'addItem.price' | translate }} {{ 'form.wrong_price' | translate }}!
                        </div>
                    </div>
                    <div class="col col-30 nopadding">
                        <!--<select class="ion-input-select--large addItem-select">
                            <option>Hodina</option>
                            <option>Den</option>
                            <option>Měsíc</option>
                            <option>Rok</option>
                        </select>-->
                        <div class="list">
                            <label class="item item-input item-select addItem-select nopadding">
                                <select class="period-select" ng-model="price.period">
                                    <option value="1" selected ng-selected="selected">{{ 'hour' | translate }}</option>
                                    <option value="2">{{ 'day' | translate }}</option>
                                    <option value="3">{{ 'month' | translate }}</option>
                                    <option value="4">{{ 'year' | translate }}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="centering">
                    <button class="button button-outline button-calm margin-top-btn" type="button"
                            ng-disabled="addItemForm.price.$invalid || !price.period" ng-click="addPrice()">
                        {{ 'addItem.add_price' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>