<ion-view view-title="{{ 'addItem.addItem' | translate }}" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item"
                ng-if="forceBackButton"
                ng-click="backToParentView()">
            <i ng-class="{
                'ion-ios-arrow-back force-back-ios': platform !== 'android',
                'ion-android-arrow-back force-back-android ': platform === 'android' }"></i>
        </button>
    </ion-nav-buttons>
    <ion-content ng-show="status === 0 || status !== 3">
        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>
    </ion-content>
    <ion-content ng-show="status === 3 ">
        <div class="centering">
            <div>
                <ion-spinner></ion-spinner>
            </div>
        </div>
    </ion-content>
    <ion-content ng-show="status === 0">
        <div ng-class="{'take-photo': imgURI === undefined}" ng-click="takePhoto()">
            <div ng-show="imgURI === undefined" class="photo-not-taken">
                <div class="new-photo">
                    <i class="ion-camera photo-icon"></i>
                    <div>{{ 'addItem.new_photo' | translate }}</div>
                </div>
            </div>
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="item-photo"/>
        </div>
        <div class="padding">
            <div class="legend">
                <h4>{{ 'addItem.category_select' | translate }}</h4>
            </div>
            <div class="list category-list" ng-repeat="categories in allCategories track by $index">
                <label class="item item-input item-select category-select">
                    <div class="input-label category-label" ng-show="$index === 0">
                        {{ 'addItem.category' | translate }}
                    </div>
                    <div class="input-label" ng-show="$index === 1">
                        {{ 'addItem.sub_category' | translate }}
                    </div>
                    <select ng-change="getChildCategories($index+1)" ng-model="select[$index]">
                        <option ng-repeat="category in categories"
                                 value="{{$index}}">
                            {{category.nazev}}
                        </option>
                    </select>
                </label>
            </div>
        </div>

        <form name="forms.addItemForm">
            <div class="padding">
                <div class="legend">
                    <h4>{{ 'addItem.name_and_prices' | translate }}</h4>
                </div>
                <div class="addItem-input">
                    <label class="item item-input item-stacked-label no-error"
                           ng-class="{ 'has-error' : forms.addItemForm.name.$invalid && forms.addItemForm.name.$touched,
                                       'no-error' : forms.addItemForm.name.$valid || forms.addItemForm.name.$untouched }">
                        <span class="input-label">{{ 'addItem.name' | translate }}</span>
                        <input type="text" name="name" ng-model="item.name" placeholder="{{ 'addItem.name' | translate }}" required>
                    </label>
                    <div class="error-msg" ng-show="forms.addItemForm.name.$invalid && forms.addItemForm.name.$touched">
                        {{ 'addItem.name' | translate }} {{ 'form.is_required3' | translate }}!
                    </div>
                </div>
                <div>
                    <table class="prices-table">
                        <tr ng-repeat="p in prices track by $index">
                            <td ng-show="p.period === 1">{{ 'hour' | translate }}</td>
                            <td ng-show="p.period === 2">{{ 'day' | translate }}</td>
                            <td ng-show="p.period === 3">{{ 'week' | translate }}</td>
                            <td ng-show="p.period === 4">{{ 'month' | translate }}</td>
                            <td>{{p.price}} Kč</td>
                            <td><i class="ion-close-round delete-item-icon" ng-click="deletePrice($index)"></i></td>
                        </tr>
                    </table>
                </div>
                <div class="row nopadding">
                    <div class="addItem-input col col-70">
                        <label class="item item-input item-stacked-label no-error"
                               ng-class="{ 'has-error' : forms.addItemForm.price.$invalid && forms.addItemForm.price.$touched && prices.length == 0,
                               'no-error' : forms.addItemForm.price.$valid || forms.addItemForm.price.$untouched || prices.length > 0}">
                            <span class="input-label">{{ 'addItem.price' | translate }}</span>
                            <input type="number" name="price" ng-model="item.price" placeholder="{{ 'addItem.price' | translate }}" min="0" required>
                        </label>
                        <div class="error-msg" ng-show="forms.addItemForm.price.$invalid && forms.addItemForm.price.$touched 
                                                        && !forms.addItemForm.price.$error.min && prices.length == 0">
                            {{ 'addItem.price' | translate }} {{ 'form.is_reguired4' | translate }}!
                        </div>
                        <div class="error-msg" ng-show="forms.addItemForm.price.$error.min">
                            {{ 'addItem.price' | translate }} {{ 'form.wrong_price' | translate }}!
                        </div>
                    </div>
                    <div class="col col-30 nopadding">
                        <div class="list">
                            <label class="item item-input item-select addItem-select nopadding">
                                <select class="period-select" ng-model="price.period">
                                    <option value="1" ng-selected="true">{{ 'hour' | translate }}</option>
                                    <option value="2">{{ 'day' | translate }}</option>
                                    <option value="3">{{ 'week' | translate }}</option>
                                    <option value="4">{{ 'month' | translate }}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="centering">
                    <button class="button button-outline button-calm margin-top-btn" type="button"
                            ng-disabled="forms.addItemForm.price.$invalid || !price.period" ng-click="addPrice()">
                        {{ 'addItem.add_price' | translate }}
                    </button>
                </div>
            </div>
        </form>

        <div class="padding">
            <div class="legend">
                <h4>{{ 'addItem.where_and_when' | translate }}</h4>
            </div>

            <div class="centering">
                <table class="prices-table">
                    <tr ng-repeat="locality in selectedLocalities track by $index">
                        <td style="text-align: left">{{locality.ulice_cp}}, {{locality.mesto}}</td>
                        <td><i class="ion-close-round delete-item-icon" ng-click="deleteLocality($index)"></i></td>
                    </tr>
                </table>
            </div>

            <div class="list category-list" ng-show="localities.length > 0">
                <label class="item item-input item-select category-select">
                    <div class="input-label">
                        {{ 'addItem.locality' | translate }}
                    </div>
                    <select ng-model="selectedLocality.value">
                        <option ng-repeat="locality in localities" value="{{$index}}" 
                                ng-selected="$index == 0">
                            {{locality.ulice_cp}}, {{locality.mesto}}
                        </option>
                    </select>
                </label>
            </div>
            <div class="centering" ng-show="localities.length > 0">
                <button class="button button-outline button-calm margin-top-btn" type="button"
                        ng-disabled="selectedLocality.value === undefined" ng-click="addLocality()">
                    {{ 'addItem.add_locality' | translate }}
                </button>
            </div>
            <div class="centering margin-links">
                <button class="button button-clear button-dark has-order-btn" ng-click="openModal()">
                    {{ 'addItem.create_new_locality' | translate }}
                </button>
            </div>

            <div class="error-message has-order-btn">
                <p ng-show="uploadError === 1">{{ 'errors.server_error' | translate }}</p>
                <button class="button button-clear button-positive" ng-click="createItem()" ng-show="uploadError === 1">
                    {{ 'try_again' | translate }}
                </button>
            </div>

            <div class="centering has-order-btn">
                <div ng-show="spinning">
                    <ion-spinner></ion-spinner>
                </div>
            </div>

            <script id="new_locality.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar>
                        <div class="button button-clear button-positive" ng-click="modal.hide()">{{ 'close' | translate }}</div>
                        <h1 class="title">{{ 'addItem.new_locality' | translate }}</h1>
                        <div class="button button-clear button-positive" 
                             ng-disabled="((locality.day === undefined || forms.newLocality.to.$invalid || forms.newLocality.from.$invalid) &&
                                            locality.days.length == 0) || forms.newLocality.street.$invalid || forms.newLocality.city.$invalid ||
                                            forms.newLocality.postal_code.$invalid"
                             ng-click="saveNewLocality(locality)">{{ 'save' | translate }}</div>
                    </ion-header-bar>
                    <ion-content class="padding">
                        <div class="legend">
                            <h4>{{ 'addItem.address' | translate }}</h4>
                        </div>
                        <form name="forms.newLocality">
                            <div class="addItem-input">
                                <label class="item item-input item-stacked-label no-error"
                                       ng-class="{ 'has-error' : forms.newLocality.street.$invalid && forms.newLocality.street.$touched,
                                                   'no-error' : forms.newLocality.street.$valid || forms.newLocality.street.$untouched }">
                                    <span class="input-label">{{ 'addItem.street' | translate }}</span>
                                    <input type="text" name="street" ng-model="locality.street" placeholder="{{ 'addItem.street' | translate }}" required>
                                </label>
                                <div class="error-msg" ng-show="forms.newLocality.street.$invalid && forms.newLocality.street.$touched">
                                    {{ 'addItem.street' | translate }} {{ 'form.is_reguired4' | translate }}!
                                </div>
                            </div>
                            <div class="addItem-input">
                                <label class="item item-input item-stacked-label no-error"
                                       ng-class="{ 'has-error' : forms.newLocality.city.$invalid && forms.newLocality.city.$touched,
                                                   'no-error' : forms.newLocality.city.$valid || forms.newLocality.city.$untouched }">
                                    <span class="input-label">{{ 'addItem.city' | translate }}</span>
                                    <input type="text" name="city" ng-model="locality.city" placeholder="{{ 'addItem.city' | translate }}" required>
                                </label>
                                <div class="error-msg" ng-show="forms.newLocality.city.$invalid && forms.newLocality.city.$touched">
                                    {{ 'addItem.city' | translate }} {{ 'form.is_required' | translate }}!
                                </div>
                            </div>
                            <div class="addItem-input">
                                <label class="item item-input item-stacked-label no-error"
                                       ng-class="{ 'has-error' : forms.newLocality.postal_code.$invalid && forms.newLocality.postal_code.$touched,
                                                   'no-error' : forms.newLocality.postal_code.$valid || forms.newLocality.postal_code.$untouched }">
                                    <span class="input-label">{{ 'addItem.postal_code' | translate }}</span>
                                    <input type="number" name="postal_code" ng-model="locality.postal_code" placeholder="{{ 'addItem.postal_code' | translate }}" 
                                           min="0" required>
                                </label>
                                <div class="error-msg" ng-show="forms.newLocality.postal_code.$invalid && forms.newLocality.postal_code.$touched && !forms.newLocality.postal_code.$error.min">
                                    {{ 'addItem.postal_code' | translate }} {{ 'form.is_required' | translate }}!
                                </div>
                                <div class="error-msg" ng-show="forms.newLocality.postal_code.$error.min">
                                    {{ 'addItem.postal_code' | translate }} {{ 'form.wrong_price' | translate }}!
                                </div>
                            </div>
                            <div class="legend">
                                <h4>{{ 'addItem.opening_hours' | translate }}</h4>
                            </div>
                            <p>{{ 'addItem.opening_hours_info' | translate }}</p>
                            <div class="centering">
                                <table class="prices-table">
                                    <tr ng-repeat="day in locality.days track by $index">
                                        <td style="text-align: left">{{day.day}}</td>
                                        <td style="text-align: left">{{day.from | date: "HH:mm"}} - {{day.to | date: "HH:mm"}}</td>
                                        <td><i class="ion-close-round delete-item-icon" ng-click="deleteDay($index)"></i></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="addItem-input col col-30">
                                    <label class="item item-input item-stacked-label no-error"
                                           ng-class="{ 'has-error' : forms.newLocality.from.$invalid && forms.newLocality.from.$touched,
                                                   'no-error' : forms.newLocality.from.$valid || forms.newLocality.from.$untouched }">
                                        <span class="input-label">{{ 'addItem.from' | translate }}</span>
                                        <input type="time" name="from" ng-model="locality.from" placeholder="{{ 'addItem.from' | translate }}" required>
                                    </label>
                                    <div class="error-msg" ng-show="forms.newLocality.from.$invalid && forms.newLocality.from.$touched">
                                        {{ 'addItem.from' | translate }} {{ 'form.is_required' | translate }}!
                                    </div>
                                </div>
                                <div class="addItem-input col col-30">
                                    <label class="item item-input item-stacked-label no-error"
                                           ng-class="{ 'has-error' : forms.newLocality.to.$invalid && forms.newLocality.to.$touched,
                                                   'no-error' : forms.newLocality.to.$valid || forms.newLocality.to.$untouched || forms.newLocality.to.$error.min }">
                                        <span class="input-label">{{ 'addItem.to' | translate }}</span>
                                        <input type="time" name="to" ng-model="locality.to" placeholder="{{ 'addItem.to' | translate }}" 
                                               min="{{locality.from | date:'HH:mm:ss'}}" required>
                                    </label>
                                    <div class="error-msg" ng-show="forms.newLocality.to.$invalid && forms.newLocality.to.$touched && !forms.newLocality.to.$error.min">
                                        {{ 'addItem.to' | translate }} {{ 'form.is_required' | translate }}!
                                    </div>
                                    <div class="error-msg" ng-show="forms.newLocality.to.$error.min">
                                        {{ 'form.too_small' | translate }}!
                                    </div>
                                </div>
                                <div class="col col-30 nopadding">
                                    <div class="list">
                                        <label class="item item-input item-select addItem-select nopadding">
                                            <select class="period-select" ng-model="locality.day">
                                                <option value="Pondělí" ng-selected="true">{{ 'days_full.monday' | translate }}</option>
                                                <option value="Úterý" >{{ 'days_full.tuesday' | translate }}</option>
                                                <option value="Středa" >{{ 'days_full.wednesday' | translate }}</option>
                                                <option value="Čtvrtek" >{{ 'days_full.thursday' | translate }}</option>
                                                <option value="Pátek" >{{ 'days_full.friday' | translate }}</option>
                                                <option value="Sobota" >{{ 'days_full.saturday' | translate }}</option>
                                                <option value="Neděle" >{{ 'days_full.sunday' | translate }}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="centering">
                                <button class="button button-outline button-calm margin-top-btn" type="button"
                                        ng-disabled="!locality.day || forms.newLocality.to.$invalid || forms.newLocality.from.$invalid" ng-click="addDay()">
                                    {{ 'addItem.add_new_day' | translate }}
                                </button>
                            </div>
                        </form>
                    </ion-content>
                </ion-modal-view>
            </script>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive order-btn-footer" ng-show="status === 0" >
        <div class="title button button-assertive order-btn" ng-disabled="forms.addItemForm.name.$invalid || 
             (prices.length == 0 && (forms.addItemForm.price.$invalid || !price.period)) ||
             (selectedLocalities == 0 && selectedLocality.value == undefined) || imgURI == undefined"
             ng-click="uploadImage()">
            {{ 'addItem.finish' | translate }}
        </div>
    </div>
</ion-view>