<ion-view view-title="{{ 'profile.my_profile' | translate }}" ng-cloak cache-view="false" hide-back-button="true">
    <ion-nav-buttons side="secondary">
        <!--<a class="button button-icon icon icon ion-log-out"></a>-->
        <a class="button button-icon" ng-click="logout()">
            <i class="ion-log-out icon-larger"></i>
        </a>
    </ion-nav-buttons>
    <ion-content ng-cloak>
        <div class="centering">
            <div ng-show="status === 3">
                <ion-spinner></ion-spinner>
            </div>
        </div>
        <ion-refresher pulling-text="{{ 'pull_to_refresh' | translate }}"
                       on-refresh="doRefresh()">
        </ion-refresher>
        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>

        <div class="account-info" ng-show="status === 0">
            <img ng-src="http://www.gravatar.com/avatar/{{profile.gravatar}}s=20" class="account-gravatar profile-data" />
            <div class="profile-data">
                {{profile.jmeno}} {{profile.prijmeni}}
            </div>
            <div class="profile-data">
                {{profile.email}}
            </div>
            <div class="profile-data">
                {{profile.adresa}}
            </div>
            <div class="profile-data">
                {{profile.telefon}}
            </div>
        </div>
        <div class="button-bar padding my_profile-btn-bar">
            <a class="button button-positive button-small" ng-click="changeSection(1)" 
               ng-class="{'active': selectedSection == 1}">
                {{ 'profile.my_items' | translate }}                       
            </a>                                                           
            <a class="button button-positive button-small" ng-click="changeSection(2)"
               ng-class="{'active': selectedSection == 2}">
                {{ 'profile.borrows' | translate }}                        
            </a>                                                           
            <a class="button button-positive button-small" ng-click="changeSection(3)"
               ng-class="{'active': selectedSection == 3}">
                {{ 'profile.rents' | translate }}
            </a>
        </div>
        <div ng-show="selectedSection == 1" class="padding">
            <div class="error-message" ng-show="profile.instances.length == 0">
                <p>{{ 'profile.no_items' | translate }}</p>
            </div>
            <div ng-repeat="item in profile.instances">
                <wos-item name="item"></wos-item>
            </div>
        </div>

        <div class="padding" ng-show="selectedSection == 2">
            <div class="error-message" ng-show="!isBorrowsArray">
                <p>{{ 'profile.leases.no_borrows' | translate }}</p>
            </div>
            <div ng-repeat="borrow in borrows">
                <div class="card" ng-repeat="lease in borrow.leases">
                    <div class="item item-text-wrap" >
                        <table ng-click="goToItem(lease.instance.id_instance_original)" style="width: 100%">
                            <tbody>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.item' | translate}}</th>
                                    <td class="rent-card-td">{{lease.instance.jmeno}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.from' | translate}}</th>
                                    <td class="rent-card-td">{{lease.from}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.to' | translate}}</th>
                                    <td class="rent-card-td">{{lease.to}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.from_user' | translate}}</th>
                                    <td class="rent-card-td">{{lease.thatUser.jmeno}} {{lease.thatUser.prijmeni}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.state' | translate}}</th>
                                    <td class="rent-card-td" ng-show="lease.stav_vypujcky === 'ukončeno'">{{ 'profile.leases.returned' | translate }}</td>
                                    <td class="rent-card-td" ng-show="lease.stav_vypujcky === 'vytvořeno'">{{ 'profile.leases.waiting_for_approval' | translate }}</td>
                                    <td class="rent-card-td" ng-show="lease.stav_vypujcky === 'schváleno'">{{ 'profile.leases.borrowed' | translate }}</td>
                                    <td class="rent-card-td" ng-show="lease.stav_vypujcky === 'zamítnuto'">{{ 'profile.leases.refused' | translate }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="centering">
                            <button class="button button-clear button-calm" ng-click="openModal(lease)"
                                    ng-show="lease.stav_vypujcky === 'ukončeno' && !lease.rated">
                                {{ 'profile.leases.do_rate' | translate }}
                            </button> 
                        </div>
                        <div class="centering" ng-show="lease.stav_vypujcky === 'schváleno' && lease.actionError == 0">
                            <button class="button button-clear button-positive" ng-click="doReturn(lease)">
                                {{ 'profile.leases.do_return' | translate }}
                            </button>
                        </div>
                        <div class="centering">
                            <div ng-show="lease.spinning">
                                <ion-spinner></ion-spinner>
                            </div>
                        </div>
                        <div ng-show="lease.actionError > 0" class="centering">
                            <p style="margin-top: 1.5em">{{ 'profile.leases.action_failed' | translate }}</p>
                            <button class="button button-clear button-positive" ng-click="repeatAction(lease)">
                                {{ 'try_again' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script id="new_rating.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">{{ 'profile.rating_title' | translate }}</h1>
                    <div class="button button-clear button-positive" ng-click="modal.hide()">{{ 'close' | translate }}</div>
                </ion-header-bar>
                <ion-content class="padding">

                    <div class="centering">
                        <div ng-show="spinning">
                            <ion-spinner></ion-spinner>
                        </div>
                    </div>

                    <error-message reload="doRate(text)" status="status" ng-hide="status === 0"></error-message>

                    <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>

                    <form name="ratingForm" ng-submit="doRate(text)">
                        <label class="item item-input item-stacked-label no-error">
                            <span class="input-label">{{ 'profile.rating_title' | translate }}</span>
                            <input type="text" name="text" ng-model="text.value" placeholder="{{ 'profile.rating_title' | translate }}">
                        </label>
                        <div class="centering">
                            <button class="button button-outline button-calm registration-btn" type="submit">
                                {{ 'profile.leases.do_rate' | translate }}
                            </button>
                        </div>
                    </form>

                </ion-content>
            </ion-modal-view>
        </script>

        <div class="padding" ng-show="selectedSection == 3">
            <div class="error-message" ng-show="!isRentsArray">
                <p>{{ 'profile.leases.no_borrows' | translate }}</p>
            </div>
            <div ng-repeat="rent in rents">
                <div class="card">
                    <div class="item item-text-wrap">
                        <table ng-click="goToItem(rent.instance.id_instance_original)" style="width: 100%">
                            <tbody>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.item' | translate}}</th>
                                    <td class="rent-card-td">{{rent.instance.jmeno}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.from' | translate}}</th>
                                    <td class="rent-card-td">{{rent.from}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.to' | translate}}</th>
                                    <td class="rent-card-td">{{rent.to}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.to_user' | translate}}</th>
                                    <td class="rent-card-td">{{rent.thatUser.jmeno}} {{rent.thatUser.prijmeni}}</td>
                                </tr>
                                <tr>
                                    <th class="rent-card-th">{{ 'profile.leases.state' | translate}}</th>
                                    <td class="rent-card-td" ng-show="rent.stav_vypujcky === 'ukončeno'">{{ 'profile.leases.returned' | translate }}</td>
                                    <td class="rent-card-td" ng-show="rent.stav_vypujcky === 'vytvořeno'">{{ 'profile.leases.waiting_for_approval' | translate }}</td>
                                    <td class="rent-card-td" ng-show="rent.stav_vypujcky === 'schváleno'">{{ 'profile.leases.borrowed' | translate }}</td>
                                    <td class="rent-card-td" ng-show="rent.stav_vypujcky === 'zamítnuto'">{{ 'profile.leases.refused' | translate }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="centering">
                            <button class="button button-clear button-calm" ng-click="openModal(rent)"
                                    ng-show="rent.stav_vypujcky === 'ukončeno' && !rent.rated">
                                {{ 'profile.leases.do_rate' | translate }}
                            </button>
                        </div>
                        <div class="centering" ng-show="rent.stav_vypujcky === 'schváleno' && rent.actionError == 0">
                            <button class="button button-clear button-positive" ng-click="doReturn(rent)">
                                {{ 'profile.leases.do_return' | translate }}
                            </button>
                        </div>
                        <div class="centering">
                            <div ng-show="rent.spinning">
                                <ion-spinner></ion-spinner>
                            </div>
                        </div>
                        <div class="centering" ng-show="rent.stav_vypujcky === 'vytvořeno' && rent.actionError == 0">
                            <button class="button button-clear button-assertive" ng-click="decline(rent)">
                                {{ 'profile.leases.decline' | translate }}
                            </button>
                            <button class="button button-clear button-balanced" ng-click="approve(rent)">
                                {{ 'profile.leases.approve' | translate }}
                            </button>
                        </div>
                        <div ng-show="rent.actionError > 0" class="centering">
                            <p style="margin-top: 1.5em">{{ 'profile.leases.action_failed' | translate }}</p>
                            <button class="button button-clear button-positive" ng-click="repeatAction(rent)">
                                {{ 'try_again' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
    <a ng-href="#/tab/account/addItem" ng-show="selectedSection == 1">
        <div class="floating-btn">
            <i class="ion-android-add add-btn"></i>
        </div>
    </a>
</ion-view>