<ion-view view-title="{{ 'login.login' | translate }}" ng-cloak hide-back-button="true" cache-view="false">
    <ion-content ng-cloak>
        <div class="error-message" ng-show="status === 0">
            <p>{{ 'login.reset_successful' | translate }}</p>
        </div>
        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>
        <div class="registration">
            <div class="centering">
                <img class="registration-logo" src="assets/img/main_logo.png" />
            </div>
            <div>
                <form name="registrationForm" ng-submit="login(user)">
    
                    <label class="item item-input item-stacked-label no-error"
                           ng-class="{ 'has-error' : registrationForm.email.$invalid && registrationForm.email.$touched,
                                   'no-error' : registrationForm.email.$valid || registrationForm.email.$untouched }">
                        <span class="input-label">{{ 'registration.Email' | translate }}</span>
                        <input type="email" name="email" ng-model="user.email" placeholder="{{ 'registration.Email' | translate }}" required>
                    </label>
                    <div class="error-msg" ng-show="registrationForm.email.$invalid && registrationForm.email.$touched">
                        {{ 'form.is_required2' | translate }} {{ 'registration.email' | translate }}!
                    </div>
    
                    <label class="item item-input item-stacked-label no-error"
                           ng-class="{ 'has-error' : registrationForm.password.$invalid && registrationForm.password.$touched, 
                                       'no-error' : registrationForm.password.$valid || registrationForm.password.$untouched }">
                        <span class="input-label">{{ 'registration.password' | translate }}</span>
                        <input type="password" name="password" ng-model="user.password" placeholder="{{ 'registration.password' | translate }}" required>
                    </label>
                    <div class="error-msg" ng-show="registrationForm.password.$invalid && registrationForm.password.$touched">
                        {{ 'registration.password' | translate }} {{ 'form.is_required' | translate }}!
                    </div>
    
                    <!--<input type="submit" class="button button-outline button-calm registration-btn" value="Registrovat se" />-->
                    <div class="centering">
                        <button class="button button-outline button-calm registration-btn" type="submit"
                                ng-disabled="registrationForm.email.$invalid || registrationForm.password.$invalid" >
                            {{ 'login.doLogin' | translate }}
                        </button>
                    </div>
                </form>
    
                <script id="forgotten_password.html" type="text/ng-template">
                    <ion-modal-view>
                        <ion-header-bar>
                            <h1 class="title">{{ 'forgotten_password' | translate }}</h1>
                            <div class="button button-clear button-positive" ng-click="modal.hide()">{{ 'close' | translate }}</div>
                        </ion-header-bar>
                        <ion-content class="padding">
                            <p>
                                Zadejte e-mailovou adresu spojednou s vaším účtem a my na ní zašleme odkaz na resetovaní hesla.
                            </p>
                            <form name="forgottenPasswordForm" ng-submit="forgottenPassword(email)">
                                <label class="item item-input item-stacked-label no-error"
                                       ng-class="{ 'has-error' : forgottenPasswordForm.email.$invalid && forgottenPasswordForm.email.$touched,
                                       'no-error' : forgottenPasswordForm.email.$valid || forgottenPasswordForm.email.$untouched }">
                                    <span class="input-label">{{ 'registration.Email' | translate }}</span>
                                    <input type="email" name="email" ng-model="email" placeholder="{{ 'registration.Email' | translate }}" required>
                                </label>
                                <div class="error-msg" ng-show="forgottenPasswordForm.email.$invalid && forgottenPasswordForm.email.$touched">
                                    {{ 'form.is_required2' | translate }} {{ 'registration.email' | translate }}!
                                </div>
                                <div class="centering">
                                    <button class="button button-outline button-calm registration-btn" type="submit"
                                            ng-disabled="forgottenPasswordForm.email.$invalid">
                                        {{ 'send_link' | translate }}
                                    </button>
                                </div>
                            </form>
                        </ion-content>
                    </ion-modal-view>
                </script>
    
                <div class="centering margin-links">
                    <button class="button button-clear button-dark" ng-click="openModal()">
                        {{ 'login.forgotten_password' | translate }}
                    </button>
                </div>
    
                <div class="centering margin-links">
                    <a ng-href="#/tab/account/registration" class="button button-clear button-dark">
                        {{ 'login.to_registration' | translate }}
                    </a>
                </div>
            </div>
        </div>
    
    </ion-content>
</ion-view>