<ion-view view-title="{{ 'cart.cart' | translate }}">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <error-message reload="doRefresh()" status="status" ng-hide="status === 0"></error-message>
        <div class="error-message" ng-show="status === 1">
            <p>{{ 'cart.no_data' | translate }}</p>
        </div>

        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="item in items" item="item" class="item-remove-animate item-text-wrap item-thumbnail-left">
                
                <img ng-src="{{item.img}}">
                <h2>{{item.name}}</h2>
                <p>{{item.from}} - {{item.to}}</p>
                <p>{{item.price}} Kč</p>
                <div class="cart-edit-btn">
                    <button class="button button-clear button-positive">
                        {{ 'cart.edit' | translate }}
                    </button>
                </div>
                <ion-option-button class="button-assertive" ng-click="deleteItem(item)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

    <div class="bar bar-footer bar-assertive order-btn-footer" ng-show="status === 0">
        <div class="title button button-assertive order-btn">Zaplatit {{countPrice()}} Kč</div>
    </div>

</ion-view>