<ion-view view-title="{{ 'cart.cart' | translate }}">
    <ion-content>
        <div class="error-message" ng-show="orders.length == 0">
            <p>{{ 'cart.no_data' | translate }}</p>
        </div>

        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="order in orders track by $index" item="item" class="item-remove-animate item-text-wrap item-thumbnail-left">
                
                <img ng-src="{{imgUrl}}images/photos/{{order.item.mainPhoto}}">
                <h2>{{order.item.name}}</h2>
                <p>{{ 'cart.from' | translate }}: {{order.stringFrom}}</p>
                <p>{{ 'cart.to' | translate }}: {{order.stringTo}}</p>
                <p>{{order.price}} Kč</p>
                <div class="cart-edit-btn">
                    <button class="button button-clear button-positive" ng-click="updateOrder(order, $index)">
                        {{ 'cart.edit' | translate }}
                    </button>
                </div>
                <ion-option-button class="button-assertive" ng-click="deleteItem($index)">
                    {{ 'delete' | translate }}
                </ion-option-button>
            </ion-item>
        </ion-list>

        <p class="padding" ng-show="deletedItem">{{ 'cart.recently_deleted' | translate }}</p>
        <ion-list show-delete="data.showDelete" ng-show="deletedItem">
            <ion-item item="item" class="item-remove-animate item-text-wrap item-thumbnail-left deleted-item">

                <img ng-src="{{imgUrl}}images/photos/{{deletedItem.item.mainPhoto}}">
                <h2>{{deletedItem.item.name}}</h2>
                <p>{{ 'cart.from' | translate }}: {{deletedItem.stringFrom}}</p>
                <p>{{ 'cart.to' | translate }}: {{deletedItem.stringTo}}</p>
                <p>{{deletedItem.price}} Kč</p>
                <div class="cart-edit-btn">
                    <button class="button button-clear button-positive" ng-click="returnToCart()">
                        {{ 'cart.return_to_cart' | translate }}
                    </button>
                </div>
            </ion-item>
        </ion-list>


    </ion-content>

    <div class="bar bar-footer bar-assertive order-btn-footer" ng-show="status === 0 && orders.length > 0">
        <div class="title button button-assertive order-btn">Zaplatit {{countPrice()}} Kč</div>
    </div>

</ion-view>